:root {
    --main-text: #21000b;
    --main-bg: #fefefe;
    --h1-size: 32px;
    --h2-size: 24px;
    --body-size: 18px;
    --main-hover: #7d1e3f;
}
@media (prefers-color-scheme: dark) {
    :root {
        --main-text: #fff5f5;
        --main-bg: #21000b;
    }
}
@media screen and (max-width:480px) {
    :root {
        --h1-size: 26px;
        --h2-size: 20px;
        --body-size: 16px;
    }
}

body {
    color: var(--main-text);
    background-color: var(--main-bg);
    line-height: 1.8em;
    font-size: var(--body-size);
    font-family: Arial, Helvetica, sans-serif;
    transition: .5s;
}

h1 {
    color: var(--main-text);
    line-height: 1.3em;
    font-size: var(--h1-size);
}

h2 {
    color: var(--main-text);
    line-height: 1.3em;
    font-size: var(--h2-size);
}

ul {
    color: var(--main-text);
    padding-left: 1.5em;
}

li {
    list-style-type: none;
    line-height: 1.8em;
    color: var(--main-text);
    font-weight: bold;
    position: relative;
}

li:before {
    opacity: 70%;
    content: "-";
    font-weight: normal;
    font-size: 1.8em;
    vertical-align: middle;
    position: absolute;
    left: -0.5em;
}

a,a:link,a:visited {
    color: var(--main-text);
    font-weight: bold;
    margin-right: 0.1em;
    margin-left: 0.1em;
}

a:hover,a:active {
    color: var(--main-hover);
    font-weight: bold;
}

code {
    display: inline-block;
    color: #fff;
    line-height: 1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-radius: 3px;
    background-color: #25292f;
}

pre > code {
    width: 95%;
    padding: 1em;
    border-radius: 5px;
    background: #25292f;
    color: #fff;
    overflow: scroll;
}

.talking {
    height: 22vh;
    width: 100vw;
    white-space: nowrap;
}

.talking a {
    text-decoration: none;
}

.talking a img {
    vertical-align: top;
    height: 100%;
    width: auto;
    object-fit: cover;
    aspect-ratio: attr(width) / attr(height);
}

.talking textarea {
    line-height: 1.8em;
    vertical-align: top;
    background-color: var(--main-bg);
    font-size: var(--h2-size);
    color: var(--main-text);
    resize: none;
    height: 100%;
    width: 50%;
    border: none;
    outline: none;
    text-align: left;
    font-weight: bold;
    transition: .5s;
}

.grafana,.grafana:link,.grafana:visited,.grafana:active {
    font-weight: bold;
    color: var(--main-bg);
    text-decoration: none;
}

.grafana:hover {
    font-weight: bold;
    color: var(--main-text);
    text-decoration: none;
}

h2 a,h2 a:hover,h2 a:active {
    color: var(--main-text);
    font-weight: bold;
    text-decoration: none;
}
