body {
    background-color: #fefefe;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #21000b;
}

h2 {
    color: #21000b;
}

ul {
    color: #21000b;
}

.iconarea {
    height: 20vh;
    width: 100vw;
}

.icon {
    vertical-align: top;
    height: 100%;
    width: auto;
    max-height: 20vh;
    max-width: 20vh;
}

.talking {
    vertical-align: top;
    background-color: #fefefe;
    color: #21000b;
    resize: none;
    height: 100%;
    width: auto;
    max-height: 20vh;
    max-width: 20vh;
    border: none;
    outline: none;
    text-align: left;
    font-size: 19px;
    font-weight: bold;
}

.account {
    color: #21000b;
    font-weight: bold;
    font-size: 19px;
}

.account:hover {
    color: #7d1e3f;
    font-weight: bold;
    font-size: 19px;
}

.non-account {
    color: #21000b;
    font-weight: bold;
    font-size: 17px;
}

.grafana {
    font-weight: bold;
    color: #fefefe;
    font-size: 3px;
    text-decoration: none;
}

.grafana:hover {
    font-weight: bold;
    color: #21000b;
    font-size: 17px;
    text-decoration: none;
}

.owariya {
    color: #21000b;
    font-weight: bold;
    text-decoration: none;
}

.owariya:hover {
    color: #21000b;
    font-weight: bold;
    text-decoration: none;
}